html, body {
	height: 100%;
	width: 100%;
}

body {
	background: #364b5e;
	color: #fff;
	font-family: Arial, sans-serif;
	overflow: hidden;
}

.sky::before {
	background: #3b4f60;
	-webkit-border-radius: 300rem;
	-moz-border-radius: 300rem;
	border-radius: 300rem;
	content: '';
	height: 300rem;
	left: -50%;
	position: absolute;
	top: 3rem;
	width: 200%;
	z-index: -1;
}

.sky::after {
	background: #405163;
	-webkit-border-radius: 300rem;
	-moz-border-radius: 300rem;
	border-radius: 300rem;
	content: '';
	height: 300rem;
	left: -24.5%;
	position: absolute;
	top: 15rem;
	width: 150%;
	z-index: -1;
}

.planet-shadow {
	background: #465668;
	-webkit-border-radius: 300rem;
	-moz-border-radius: 300rem;
	border-radius: 300rem;
	content: '';
	height: 300rem;
	left: -5%;
	position: absolute;
	top: 25rem;
	width: 110%;
	z-index: -1;
}

.planet {
	background: #91cfd8;
	-webkit-border-radius: 300rem;
	-moz-border-radius: 300rem;
	border-radius: 300rem;
	height: 130rem;
	position: absolute;
	text-transform: uppercase;
	-moz-transition: -moz-transform 1s;
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;
	top: 29rem;
	width: 100%;
}

	.stake {
		background: #ffffff;
		background: -moz-linear-gradient(left,  #ffffff 0%, #e5e5e5 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
		background: -webkit-linear-gradient(left,  #ffffff 0%,#e5e5e5 100%);
		background: -o-linear-gradient(left,  #ffffff 0%,#e5e5e5 100%);
		background: -ms-linear-gradient(left,  #ffffff 0%,#e5e5e5 100%);
		background: linear-gradient(to right,  #ffffff 0%,#e5e5e5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 );
		-webkit-border-radius: 10rem 0 0;
		-moz-border-radius: 10rem 0 0;
		border-radius: 10rem 10rem 0 0;
		height: 350px;
		left: 50%;
		position: absolute;
		top: -330px;
		width: 20px;
		z-index: 3;
	}

		.panel {
			background: #3d8aab;
			box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
			height: 50px;
			line-height: 50px;
			margin: 30px 0 0 -100px;
			position: relative;
			text-align: center;
			width: 200px;
		}

		.panel::before {
			border-top: 25px solid #3d8aab;
			border-bottom: 25px solid #3d8aab;
			content: "";
			height: 0px;
			position: absolute;
			top: 0px;
			width: 0px;
		}

		.panel::after {
			border-top: 25px solid transparent;
			border-bottom: 25px solid transparent;
			content: "";
			height: 0;
			position: absolute;
			top: 0px;
			width: 0;
		}

		.center {
			background: #e36c61;
			margin-left: -150px;
			width: 300px;
		}

			.center span {
				font-size: 10px;
			}

		.right::before {
			border-left: 25px solid transparent;
			left: -25px;
		}

		.right::after {
			border-left: 25px solid #3d8aab;
			right: -25px;
		}

		.left::before {
			border-right: 25px solid transparent;
			right: -25px;
		}

		.left::after {
			border-right: 25px solid #3d8aab;
			left: -25px;
		}

	.stake-shadow {
		background: #e26b60;
		-webkit-filter: blur(3px) grayscale(100%);
		-moz-filter: blur(3px) grayscale(100%);
		filter: blur(3px) grayscale(100%);
		height: 280px;
		margin-left: 45px;
		opacity: 0.1;
		-webkit-transform: rotate(160deg);
		tranform: rotate(180px);
		top: 0;
		z-index: 2;
	}

	.crater {
		background: #73c0c8;
		border: 1px solid #67aab2;
		position: absolute;
	}

	.crater-1 {
		box-shadow: 1px -4px 0 0px #67aab2;
		-moz-border-radius: 80px / 25px;
		-webkit-border-radius: 80px / 25px;
		border-radius: 80px / 25px;
		height: 30px;
		right: 55%;
		top: 2%;
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
		width: 100px;
	}

	.crater-2 {
		box-shadow: -3px -16px 0 0px #67aab2;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		height: 180px;
		right: 33%;
		top: 3%;
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
		width: 150px;
	}

	.crater-3 {
		box-shadow: -3px -10px 0 0px #67aab2;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		height: 120px;
		right: 65%;
		top: 5%;
		-webkit-transform: rotate(40deg);
		transform: rotate(40deg);
		width: 100px;
	}

.moon {
	border-radius: 50%;
	box-shadow: 15px 15px 0 0 #fff;
	height: 80px;
	opacity: 0.2;
	width: 80px;
}

.star {
	position: absolute;
}

.star::after {
	content: '★';
	opacity: 0.2;
}

.small { font-size: 8px; }
.medium { font-size: 14px; }
.big { font-size: 25px; }
